@import "partials/setup";
@import "partials/variables";
@import "partials/mixins";
@import "partials/loginAndHeaderStyles";
@import "partials/main";
@import "partials/footer";


* {
	margin: 0;
	padding: 0;
}

.wrapper {
	max-width: 1180px;
	margin: 0 auto;
}
