

main {
	min-height: 100vh;
	background-color: $hyRed;
	background-image: url('../../public/assets/patternMicrowaveFinal.png');
}

.mainContainer {
	display: flex;
	width: 100%;
	justify-content: space-between;
	@include respond-to('large') {
		justify-content: space-around;
	}
	@include respond-to('medium') {
		flex-direction: column;
		align-items: center;
	}
	align-items: flex-start;
	padding-top: 20px;
}

.addUser {
	font-family: $montserrat;
	background-color: white;
	width: 350px;
	min-height: 600px;
	border: 5px solid $darkerGrey;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	@include respond-to('medium') {
		margin-bottom: 20px;
	}
	
	h2 {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.username {
		margin-top: 60px;
		margin: 0 auto;
		width: 80%;
		border: 2px solid $darkerGrey;
		color: $darkerGrey;
		padding: 10px;
		margin-bottom: 10px;

	}
	p {
		text-align: center;
		padding-bottom: 10px;
		padding-top: 10px;
		padding-bottom: 15px;
	}

	label {
		padding-right: 5px;
		font-size: 10px;
		font-weight: bold;
		
	}
	input[type="radio"] {
			margin-right: 5px;
		}
	.usermessage {
	width: 80%;
	height: 117px;
	resize: none;
	margin: 0 auto;
	margin-top: 31px;
	border: 2px solid $darkerGrey;
	padding: 10px;
	}
	.giphyQuery {
		width: 60%;
		margin-top: 30px;
		margin-bottom: 30px;
		margin-right: 16px;
		border: 2px solid $darkerGrey;
		padding: 10px;
	}
	.gifSearchButton {
		width: 30%;
		background-color: $darkerGrey;
		text-transform: uppercase;
		padding: 10px;
		color: white;
		border: none;
	}

	.cueButton {
		background-color: $darkerGrey;
		color: white;
		border: none;
		padding: 10px;
		width: 80%;
	}
}

.giphyGalleryContainer {
	text-align: center;
	background-color: $darkerGrey;
	margin-top: 10px;

	button {
		color: white;
		background-color: $hyRed;
		padding: 10px;
		border: none;
		width: 150px;
		font-family: $montserrat;
		text-shadow: 0 0 3px black;
		margin-top: 10px;
		font-weight: 700;
		box-shadow: 3px 3px 3px black;
		margin-bottom: 10px;
	}
}

.giphyGallery {
	background-color: $darkerGrey;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	transition: 0.3s;
}

.gifImage {
	height: 100%;
	width: calc((100% / 3) - 5px);
	transition: 0.3s;
	&:hover {
		transform: scale(0.8);
	}
}

.highlighted {
	border: 5px solid $hyRed;
}

.cueResults {
	font-family: $openSans;
	width: 68%;
	@include respond-to('large') {
		width: 62%;
	}
	@include respond-to('medium') {
		width: 90%;
	}
	ul {
		margin: 0px;
		padding: 0px;
	}
	li {
		list-style-type: none;
		border: 1px solid $darkerGrey;
		margin-bottom: 20px;
			h3 {
				font-family: $montserrat;
				margin-top: 10px;
				text-transform: uppercase;
				color: white;
				font-size: 30px;
				font-weight: 400;
			}
			p {
				color: white;
				font-size: 15px;
				padding-top: 15px;
				padding-bottom: 25px;
			}

	&:first-child {
			background-color: white;
			margin-bottom: 20px;

			h3 {
				margin-top: 10px;
				// margin-bottom: 10px;
				color: $darkerGrey;
				font-size: 30px;
				font-weight: 400;
			}
			p {
				color: $darkerGrey;
			}
		}
	}

}

.cueItem {
	display: flex;
	min-height: 200px;
	
	border-radius: 5px;
	margin-right: 10px;
	align-items: flex-start;
	@include respond-to('small') {
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}
}

.cueItemContainer {
	display: flex;
	align-items: center;
	min-height: 200px;
	width: 100%;
	justify-content: space-around;
	@include respond-to('small') {
		width: 200px;
		flex-direction: column;
	}
}

.cueItemProfileImage {
	max-width: 100%;
	height: 80px;
	border-radius: 50%;
	margin-left: 20px;
	margin-top: 20px;
	@include respond-to('small') {
		margin-left: 0px;
	}

}

.cueText {
	width: 50%;
	height: auto;
	margin-right: 5px;
	padding-left: 20px;
	@include respond-to('medium') {
		width: 400px;

	}
	@include respond-to('small') {
		width: 300px;
		margin-right: 0px;
		padding-left: 0px;
		text-align: center;
	}
}

.removeButton {
	color: white;
	background-color: $darkerGrey;
	padding: 10px;
	border: none;
	width: 150px;
	font-family: $montserrat;
	text-shadow: 0 0 1px black;
	margin-top: 10px;
	font-weight: 700;
	box-shadow: 1px 1px 1px black;

}

.cueGif {
	max-width: 200px;
	text-align: center;
	img {
		max-width: 100%;
		border-radius: 5px;
		padding-right: 15px;
		padding-top: 10px;
		padding-bottom: 8px;
		@include respond-to('small') {
			padding-right: 0px;
		}
	}
}

.placeholderMicrowave {
	width: 200px;
	padding-top: 10px;
}
